* {
  font-family: Roboto;

}

.background-gradient {
  height: 100vh;
  background: linear-gradient(1206deg, #FFFFFF 0%, #E5E5E5 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.bold {
  font-weight: bold;

}

.return-home {
  color: black;
  margin-bottom: 1em;

}

.pagination-move {
  margin-left: auto;

}

.navigation-div {
  position: relative;
  display: flex;
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 10px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 10px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 10px -6px rgba(0,0,0,0.75);
  padding: 1em;
  margin-bottom: 1em;

}

.interior-container {
  position: relative;
  top: 0.5em

}

.card-image-max-width {
  max-height: 25em;

}

.white {
  background-color: white;

}

@media only screen and (max-width: 992px) {
  .hide-on-m {
    display: none;

  }

}
