* {
  font-family: Roboto;

}

.background-gradient {
  height: 100vh;
  background: linear-gradient(1206deg, #FFFFFF 0%, #E5E5E5 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.bold {
  font-weight: bold;

}

.return-home {
  color: black;
  margin: auto;

}

.navigation-div {
  position: relative;
  display: flex;

}

.interior-container {
  position: relative;
  top: 0.5em

}

.white {
  background-color: white;

}



@media only screen and (max-width: 992px) {
  .hide-on-m {
    display: none;

  }

}
