* {
  font-family: Roboto;

}

.background-gradient {
  height: 100vh;
  background: linear-gradient(1206deg, #FFFFFF 0%, #E5E5E5 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.bold {
  font-weight: bold;

}

@media only screen and (max-width: 992px) {
  .hide-on-m {
    display: none;

  }

}
